<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Safety Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <header>
        <h1>Website Safety Checker</h1>
    </header>
    <form class="search-form" method="POST">
        <input type="text" name="query" placeholder="Search the web">
        <input type="submit" value="Search">
    </form>
    <form method="POST">
        <input type="submit" name="login" value="Login with Google">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
